<tr>
  <td>
    <table class="row card no-print">
      <tr class="card-header">
        <td>Blijf op de hoogte</td>
      </tr>
      <tr class="card-body">
        <td>
          Wil je op de hoogte gebracht worden bij volgende voorstellingen?<br />
          <br />
          <a
            class="btn btn-primary text-center"
            href="https://jatheater.nl/contact/#blijf-op-de-hoogte"
            >Blijf op de hoogte</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>
