<tr>
  <td>
    <table class="row card mb-3 no-print">
      <tr class="card-body">
        <td>
          Ja!Theater |
          <a href="https://facebook.com/JaTheater">facebook</a> |
          <a href="https://mastodon.nl/@jatheater">mastodon</a> |
          <a href="https://instagram.com/jatheater">insta</a> |
          <a href="https://jatheater.nl/contact/#blijf-op-de-hoogte"
            >blijf op de hoogte</a
          >
          |
          <a href="https://jatheater.nl/contact/">contact</a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr></tr>
