<tr>
  <td>
    <table class="row card no-print">
      <tr class="card-header">
        <td>Bestelling aanpassen</td>
      </tr>
      <tr class="card-body">
        <td>
          Kaarten annuleren of bijbestellen?<br />
          <br />
          <a
            class="btn btn-primary text-center"
            href="<%= reservering.getEditLink() %>"
            >Aanpassen</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>
