<tr>
  <td>
    <table class="row card mb-3 no-print">
      <tr class="card-body">
        <td>
          © <%= new Date().getFullYear() %> Sempre Crescendo |
          <a
            href="https://www.facebook.com/people/Sempre-Crescendo/100023071312399/"
            >facebook</a
          >
          |
          <a href="https://instagram.com/sempre_diepenveen">instagram</a> |
          <a href="http://www.semprecrescendo-diepenveen.nl/contact/"
            >contact</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr></tr>
