<tr>
  <td>
    <table class="row card mb-3 no-print">
      <tr class="card-body">
        <td>
          © <%= new Date().getFullYear() %> Sempre Crescendo Diepenveen |
          <a href="http://www.semprecrescendo-diepenveen.nl/contact/"
            >contact</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr></tr>
