#outlook a {
  padding: 0;
}
body {
  width: 100% !important;
}
body {
  -webkit-text-size-adjust: none;
}
body {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}
#backgroundTable {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
body,
.backgroundTable {
  background-color: #000000;
}
#templateContainer {
  border: 1px solid #ffb400;
}
h1,
.h1 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}
h2,
.h2 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}
h3,
.h3 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}
h4,
.h4 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}
#templatePreheader {
  background-color: #444444;
}
.preheaderContent div {
  color: #cccccc;
  font-family: Verdana;
  font-size: 10px;
  line-height: 100%;
  text-align: left;
}
.preheaderContent div a:link,
.preheaderContent div a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
.preheaderContent div img {
  height: auto;
  max-width: 600px;
}
#templateHeader {
  background-color: #000000;
  border-bottom: 0;
}
.headerContent {
  color: #ffb400;
  font-family: Verdana;
  font-size: 34px;
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.headerContent a:link,
.headerContent a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
#headerImage {
  height: auto;
  max-width: 600px !important;
}
#templateContainer,
.bodyContent {
  background-color: #111111;
}
.bodyContent div {
  color: #cccccc;
  font-family: Verdana;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}
.bodyContent div a:link,
.bodyContent div a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
.bodyContent img {
  display: inline;
  /* margin-bottom: 10px; */
}
#templateFooter {
  background-color: #111111;
  border-top: 0;
}
.footerContent div {
  color: #cccccc;
  font-family: Verdana;
  font-size: 9px;
  line-height: 125%;
  text-align: left;
}
.footerContent div a:link,
.footerContent div a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footerContent img {
  display: inline;
}
#social {
  background-color: #111111;
  border: 1px solid #ffb400;
}
#social div {
  text-align: center;
}
#utility {
  background-color: #111111;
  border-top: 0px solid #ffb400;
}
#utility div {
  text-align: center;
}
#monkeyRewards img {
  max-width: 160px;
}
