<div class="card p-3 mt-3">
  <div class="card-header">
    Ticket besteld
  </div>
  <div class="card-body">
    <p>
      Hallo <%= reservering.naam %>
    </p>
    <p>
      Bedankt voor je bestelling. Zodra de betaling is afgerond krijg je je tickets toegestuurd.
    </p>
    <p>
    <em>Als je nog niet hebt betaald, verzoeken we je om <a href="<%= reservering.getBetalingUrl() %>">alsnog te betalen</a></em> (je kunt niet per ongeluk 2x betalen)
    </p>
  </div>
</div>

<%- include('partials/reservering') %>
