<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include(findTemplate('partials/head'))%>
  </head>
  <body>
    <table class="body p-3">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table align="center" class="container">
              <tr>
                <td>
                  <table class="card row">
                    <tr class="card-body">
                      <td><%- content%></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <%- include(findTemplate('partials/footer'))%>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
