body {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  background-color: #000000;
}

h1,
.h1 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}

h2,
.h2 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}

h3,
.h3 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}

h4,
.h4 {
  color: #ffb400;
  display: block;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: left;
}

div.card {
  color: #cccccc;
  font-family: Verdana;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}

.card a:link,
.card a:visited {
  color: #ffffff !important;
  font-weight: bold;
  text-decoration: underline;
}

.card img {
  display: inline;
  /* margin-bottom: 10px; */
}

/* .footer {
  background-color: #111111;
  border-top: 0;
} */

.footer {
  color: #cccccc;
  font-family: Verdana;
  font-size: 9px;
  line-height: 125%;
  text-align: left;
}

.footer a:link,
.footer a:visited {
  color: #ffffff !important;
  font-weight: bold;
  text-decoration: none;
}