<tr>
  <td>
    <table class="card row">
      <tr class="card-body">
        <td>
          Hallo <%= reservering.naam %><br />
          <br />
          Het openstaande bedrag €<%=bedrag.toFixed(2)%> wordt teruggestort<br />
          <br />
          Met vriendelijke groet, <br />
          PlusLeo
        </td>
      </tr>
    </table>
  </td>
</tr>
<%- include(findTemplate('partials/footer'))%>
