<div class="card p-3 mt-3">
  <p>Hallo penningmeester</p>

  Er is een verzoek tot terugbetaling gedaan.
  Zou je de een <a href="<%=reservering.getRoot()%>/reserveren/<%=reservering.id%>/terugbetaling">terugbetaling</a> willen doen?

  Bedankt, namens <%=reservering.naam%>
</div>
