<tr><td>
<table class="card row ">
  <tr class="card-body">
    <td>
      <p>Hallo penningmeester</p>
      <br />
      Er is een verzoek tot terugbetaling gedaan.<br />
      Zou je de een <a href="<%=reservering.getRoot()%>/reserveren/<%=reservering.id%>/terugbetaling">terugbetaling</a> willen doen?<br />
      <br />
      Bedankt, namens <%=reservering.naam%>
    </td>
  </tr>
</table>
</td></tr>
<%- include('partials/footer')%>
