<%- include('partials/header')%>
<tr><td>
<table class="card row ">
  <tr class="card-body">
    <td>
      Hallo <%= reservering.naam %><br />
      <br />
      We willen je geld terugstorten, maar de termijn om dit automatisch te doen is verstreken.<br />
      <br />
      Als je je bankgegevens invult, dan maken we het geld zo spoedig mogelijk aan je over<br />
      <br />
      <a class="btn btn-primary" href="<%=reservering.getIBANUrl()%>" target="_blank">
        Vul bankgegevens in
      </a><br />
      <br />
      PlusLeo

    </td>
  </tr>
</table>
</td></tr>
<%- include('partials/footer')%>
