<div class="card p-3 mt-3">
  <p>Hallo penningmeester</p>
</div>

Er is een verzoek tot terugbetaling gedaan.
Zou je de een <a href="<%=reservering.getRoot()%>/Beheer/reservering/<%=reservering.id%>/terugbetaling/<%=iban%>">terugbetaling</a> willen doen?

Bedankt, namens <%=reservering.naam%>
</div>
