<div class="card p-3 mt-3">
  <p>Hallo  <%= reservering.naam %></p>
  <p>Je geannuleerde kaarten zijn verkocht</p>
</div>

<%- include('partials/reservering') %>
<%- include('partials/payments') %>
<%- include('partials/bewaar')%>
