<div class="card p-3 mt-3">
<p>Hallo <%= reservering.naam %></p>
<p>Bedankt voor de reservering</p>
<p>
  Helaas sta je op de wachtlijst. Zodra er voldoende plaatsen beschikbaar komen krijg je een e-mail<br />
  Dan hoef je pas te betalen.
</p>
</div>

<%- include('partials/reservering') %>
<%- include('partials/bewaar')%>
