<tr>
  <td>
    <table class="card row">
      <tr class="card-body">
        <td>
          Hallo <%= reservering.naam %><br />
          <br />
          Bedankt voor de bestelling<br />
          <br />
          Helaas sta je op de wachtlijst. Zodra er voldoende plaatsen
          beschikbaar komen krijg je een e-mail<br />
          Dan hoef je pas te betalen.
        </td>
      </tr>
    </table>
  </td>
</tr>

<%- include(findTemplate('partials/reservering')) %> <%-
include(findTemplate('partials/bewaar'))%> <%-
include(findTemplate('partials/footer'))%>
