<div class="card mt-3">
  <div class="card-header">Reservering aanpassen</div>
  <div class="card-body">
    <p>
      Datum aanpassen? Kaarten annuleren of bijbestellen?<br />
      Gebruik <a href="<%= reservering.getEditLink() %>">deze link</a> 
    </p> 
  </div>
</div>
