<div class="card mt-3">
  <div class="card-header">Bewaar deze e-mail</div>
  <div class="card-body">
    <p>
      Als je de reservering nog wilt aanpassen of annuleren, dan kun je dat doen met 
      <a href="<%= reservering.getEditLink() %>">deze link</a> 
    </p> 
      
    <p>
        We zien je bij de voorstelling<br />
        <br />
        PlusLeo
    </p>
  </div>
</div>