<tr>
  <td>
    <table class="row card mb-3">
      <tr class="card-body">
        <td>
          © <%= new Date().getFullYear() %> PlusLeo | 
          <a href="https://twitter.com/plusleoNL">@PlusleoNL</a> | 
          <a href="https://facebook.com/plusleo">facebook</a> | 
          <a href="https://plusleo.nl/contact.php">nieuwsbrief |
          <a href="mailto:info@plusleo.nl">contact
        </td>
      </tr>
    </table>
  </td>
<tr>