<tr>
  <td>
    <table class="row card mb-3 no-print">
      <tr class="card-body">
        <td>
          © <%= new Date().getFullYear() %> PlusLeo | 
          <a href="https://facebook.com/plusleo">facebook</a> | 
          <a href="https://instagram.com/plusleo.nl">instagram</a> | 
          <a href="https://plusleo.nl/contact/">nieuwsbrief</a> |
          <a href="mailto:info@plusleo.nl">contact</a>
        </td>
      </tr>
    </table>
  </td>
<tr>