<!-- views/partials/footer.ejs -->
<div class="card mt-3 mb-3 p-3 flex-row justify-content-center">
© Copyright <%= new Date().getFullYear() %> PlusLeo | <a href="https://twitter.com/plusleoNL">@PlusleoNL</a> | <a href="https://facebook.com/plusleo">facebook</a> | <a href="https://plusleo.nl/contact.php">nieuwsbrief
</div>