<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

<title>Kaarten</title>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<style>
  <%- include('../css/darkly-emails.css') %>
  <%- include('../css/foundation-emails.css') %>
  <%- include('../css/plusleo.css') %>
</style>
