<tr><td>
<table class="row card ">
    <tr class="card-header">
        <td>QR-code</td>
    </tr>
    <tr class="card-body">
        <td>
        Neem onderstaande code mee naar de kassa. Druk deze mail af of gebruik je telefoon.<br />
        (QR-code niet zichtbaar? Laad de plaatjes in je e-mail 
        of lees <a href="<%=reservering.getMailUrl(template)%>">online versie</a>)<br />
        <br />
        <a class=text-center" href="<%= reservering.getTicketUrl() %>">
            <img src="<%= reservering.getQrUrl() %>"/>
        </a>
        </td>
    </tr>
</table>
</td></tr>