<p class="card mt-3 p-3">
    <div class="card-header">
        QR-code
    </div>
    <div class="card-body">
    Neem onderstaande code mee naar de kassa. Druk deze mail af, of liever: gebruik je telefoon.<br />
        (QR-code niet zichtbaar? Laad de plaatjes in je e-mail!)<br />
        <br />
        <a class=text-center" href="<%= reservering.getTicketUrl() %>">
            <img src="<%= reservering.getQrUrl() %>"/>
        </a>
    </div>
</div>