<tr><td>
<table class="row card no-print">
  <tr class="card-header">
    <td>Voorstelling</td>
  </tr>
  <tr class="card-body">
    <td>
      <h1><%= voorstelling.title %></h1>
      <a href="<%=voorstelling.url%>" target="_blank">Meer informatie</a>
    </td>
  </tr>
</table>
</td></tr>