<div class="card mt-3" style="flex-direction: column">
  <div class="card-header">Voorstelling</div>

  <div class="card-body">
    <h1 class="card-title"><%= voorstelling.title %></h1> 
  </div>
</div>